# Author Charles Blyton 
# GitIgnore File source adapted from source: https://github.com/github/gitignore/blob/main/Swift.gitignore

# Custom Added Files
#a2-s3407778.xcodeproj/project.xcworkspace/

# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep